{% extends 'wrapper.html' %}
{% block content %}

    <header>
        <div class="container">
            <div class="head">
               <div class="allpogination">
                <i class="fa-solid fa-chevron-left"></i>
                <div class="pogination">
                    <p class="c1">1</p>
                    <p class="c1">2</p>
                    <p class="c1">3</p>
                    <p class="c1">4</p>
                    <p class="c1">5</p>
                    <p class="c1">6</p>
                    <p class="c1">7</p>
                    <p class="c1">8</p>
                    <p class="c1">9</p>
                    <p class="c1">10</p>
                    <p class="c2">11</p>
                    <p class="c2">12</p>
                  <p class="c2">13</p>
                  <p class="c2">14</p>
                  <p class="c2">15</p>
                  <p class="c2">16</p>
                  <p class="c2">17</p>
                  <p class="c2">18</p>
                  <p class="c2">19</p>
                  <p class="c2">20</p>
                </div>
                <i class="fa-solid fa-chevron-right"></i>
               </div>

               <div class="row-q">
                   <div class="respons"></div>
                   <div class="card">
                      <h1> <sapn class="question">1</sapn>. Savol</h1>
                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tenetur voluptatum sint quaerat provident. Repudiandae, quisquam? Sunt omnis dolores dolorem mollitia itaque? Odio ratione fugiat excepturi architecto iste non quasi?</h3>
                        <div class="img-card">
                           <div class="img-1"></div>
                           <div class="img-2"></div>
                           <div class="img-3"></div>
                        </div>
                   </div>
                   <div class="time">
                       <h2>46</h2>
                       <h2>:</h2>
                       <h2>25</h2>
                   </div>
               </div>

               <div class="answers">
                <div class="row-answer">
                    <div class="answer"><h4>1.Ansver</h4></div>
                    <div class="answer"><h4>1.Ansver</h4></div>
                   </div>
                   <div class="row-answer">
                    <div class="answer"><h4>1.Ansver</h4></div>
                    <div class="answer"><h4>1.Ansver</h4></div>
                   </div>
               </div>


               <div class="buttons">
                   <button><i class="fa-solid fa-arrow-left"></i> prev</button>
                   <button>next <i class="fa-solid fa-arrow-right"></i></button>
               </div>
            </div>
        </div>
    </header>


    <main class="main-reg">
        <section class="section-reg">
            <div class="register">
                    <i class="fa-solid fa-xmark" style="cursor:pointer ;"></i>
               <div class="head-row"> 
                <div class="login-row">
                    <div class="background"></div>
                    <button id="login">Login</button>
                    <button id="register">register</button>
                </div>
               </div>
             <div class="slide">
                 
                <div class="log">
                    <div class="logins user">
                        <input class="input" type="email" placeholder="Enter your email">
                        <input class="input" type="text" placeholder="Enter your Password ">
                        
                        <div class="row-pas">
                            <input type="checkbox" ><span>Remember password</span>
                        </div>
                        <button class="login-btn">login</button>
                        
                    </div>
                </div>
    
                <div class="reg">
                    <div class="registers user ">
                        <input class="input" type="text" placeholder="Enter your name">
                    <input class="input" type="text" placeholder="Enter your Lastname">
                    <input class="input" type="email" placeholder="Enter your email">
                    <input class="input" type="text" placeholder="Enter your Password ">
                    <input class="input" type="text" placeholder="Enter your recent Password ">
                    
                   <div class="row-sub">
                    <select name="subject" class="option">
                        <option>subject 1</option>
                        <option>subject 2</option>
                        <option>subject 3</option>
                    </select>
                   <div class="row-pas">
                    <input type="checkbox" ><span>Remember password</span>
                   </div>
                   </div>
                    <input class="about" type="text" placeholder="About me">
                    <button class="login-btn">login</button>
                    
                    </div>
                </div>
                
                
             </div>

            </div>
        </section>
    
    
    </main>
{% endblock content %}

 