{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'media.css' %}">
    <link rel="stylesheet" href="{% static 'boostrap/dict/css/boostrap.min.css' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <nav>
        <div class="container">
            <div class="navbar">

                {% block title %}
                    <h1>Welocome</h1>
                {% endblock title %}
                
                 <!-- <a href="#" class="exit">Chiqish <i class="fa-solid fa-arrow-right-long"></i></a> -->
                 <button href="#" class="register-btn">Regisratsiya</button>

                 <div class="bars">
                    <div class="fa fa-bars"></div>
                 </div>
            </div>
        </div>
    </nav>

{% block content %}

{% endblock content %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>